body, html{
	height: 100%;
}

#welcome-div{
	background-image: url("/assets/images/poolparty.jpg");
	background-size: ;
	background-repeat: no-repeat;
    background-position: center center; 
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
}
#welcome-overlay{
	background-color: rgba(0, 102, 255, 0.7);
	text-align: center;
	padding: 5%;
	width: 100%;
	height: 100%;
	position: relative;
}
	#welcome-overlay h1{
		margin: 20% auto 10% auto;
		/*height: 50%;*/
	}
	#welcome-overlay h4{
		margin: 5% auto 40% auto;
	}
	#welcome-overlay button{
		color: rgb(0, 102, 255);
		background-color: white;
		border: rgb(0, 102, 255) solid 1px;
		padding: 4%;
		margin-bottom: 15%;

	}
	#welcome-overlay i{
		margin: 0% 3% 0% 0%;
	}
.navbar{
	color: white;
	background-color: #0066ff;
	font-family: Arial, Helvetica, sans-serif;
	z-index:0;
}
	.navbar i{
		color: white;
	}

.app{
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.create-event h4{
	margin: 3% 0%;
}
.events-div{
	padding: 2%;
}
.event{
	margin: 1% 0%;
	border: 1px lightgrey solid;
	border-radius: 3%;
	padding: 1% 0%;
}
.event-image{
	background-image: url("/assets/images/tailgate_pic.jpg");
	background-size: 100%; 
	background-repeat: no-repeat;
    background-position: center center; 
    height: 90%;
}
.title{
	text-indent: 3%;
	text-align: center;
}
	.title h4{
		margin: 5% auto;
	}
	.title p{
		margin-bottom: 0%;
		font-size: .75em;
	}
.details{
	text-align: center;
	font-size: .75em;
}
h5{
	border-bottom: black 1px solid;
	margin: 1% auto;
}

/*show single event page*/
.show-event-div{
	padding: 2%;
}
.show-event-details{
	background-image: url("/assets/images/tailgate_pic.jpg");
	background-size: 100%; 
	background-repeat: no-repeat;
    background-position: center center; 
    height: 100%;
    color: black;
    text-align: right;
}
	.show-event-details p{
		background-color: white;
		opacity: .85;
		padding: 1%;
		text-align: center;
		margin: 20% auto;
	}
.show-event-items-div{
	margin-top: 1%;
}
.new-event-item, .show-event-item, .show-event-item-complete{
	border: 1px lightgrey solid;
	border-radius: 3%;
}
	.new-event-item{
		padding: 0em;
	}
	.new-event-item input{
		font-size: 1.2em;
		color: black;
	}
	.input-group{
		width: 100%;
	}
#add-item-btn{
	color: white;
	background-color: #0066ff;
	border: #0066ff solid 1px;
}
.show-event-item-complete{
	background-color: #e6f3ff;
	opacity: .7;
}
	.show-event-item-complete .assign-user{
		display: none;
	}
.show-event-item p, .show-event-item-complete p{
		margin: 2%;
		font-size: 1.2em;
	}
	.assign-user{
		margin: 2% 0% 2% 2%;
	}
	.profile-pic{
		width: 1.5em;
		height: 1.5em;
		border-radius: 50%;
		margin: 0% 0% 2% 2%;
	}

/* new event */
.new-event-photo{
	height: 10em;
	background-color: #e6f3ff;
	position: relative;
	margin-top: .5em;
}
#upload-photo{ 
	border-radius: 5%;
	position: absolute;
	bottom: 5%;
	right: 2%;
}
.new-event-details{
	margin-top: .5em;
}
#invite-friends-btn{
	color: #0066ff;
	border-color: #0066ff;
	background-color: white;
}
.create-event-btn{
	background-color: white;
	border: 1px solid #0066ff;
}
	.create-event-btn h4{
		margin: 0%;
	}

/* invite friends */
#friends-header{
	border-bottom: solid 1px black;
	margin-top: 1%;
	margin-bottom: none;
	font-size: 1.2em;
}
.invite-friend-div{
	border: 1px lightgrey solid;
	border-radius: 3%;
	padding: 0% 2%;
}
	.invite-friend-div p, .attendees-div p{
		margin: 2%;
		font-size: 1em;
	}
	.invite-friend-div img, .attendees-div img{
		margin: 0%;
	}
	.invite-friend-div i{
		color: #5bd75b;
		margin-top: 1%;
		border: none;
	}
.invite-friend-name{
	padding: 0%;
}
#uninvite-friend{
	color: red;
}
#invite-all-friends{
	color: white;
	background-color: #5bd75b;
	margin-bottom: 5%;
}
#invite-friends-done-btn{
	color: white;
	background-color: #0066ff;
	border: none;
	position:fixed;
	top: 1.75%;
	right:2%;
	z-index:1;
}
#invite-friend-search{
	border: 1px lightgrey solid;
	border-radius: 3%;
}
	#invite-friend-search{
		padding: 0em;
	}
	#invite-friend-search{
		font-size: 1em;
		color: black;
		text-indent: 3%;
	}
.attendees-div{
	border: 1px #0066ff solid;
	border-radius: 3%;
	padding: 0% 2%;
}
.attendees-div i{
	color: red;
	margin-top: 1%;
	border: none;
}

/*notifications*/
.notif-tab{
	width: 49%;
	text-align: center; 
	
}
.notif-item{
	border-bottom: lightgrey solid 1px;
}
	.notif-item p{
		margin: 5% 0%;
	}

.notif-profile-pic{
		width: 2.25em;
		height: 2.25em;
		border-radius: 50%;
		margin: 0% 2% 2% 2%;
	}

/*choose photo*/
.event-pics-div{
	margin-top: 5%;
}

.choose-event-pic-div {
	margin-bottom: 5%;
	text-align: center;
	height: 10em;
}

.choose-event-pic-div img{
	height: 100%;
	width: 100%;
	border: lightgrey solid 1px;
}
#choose-event-pic-done-btn{
	color: white;
	background-color: #0066ff;
	border: none;
	position:fixed;
	top: 1.75%;
	right:2%;
	z-index:1;
}
/*user-profile*/
#user-profile-pic{
	text-align: center;
	height: 12em;
	margin: 5% 0%;
}
	#user-profile-pic img{
		height: 100%;
	}

#user-profile-form-div input{
	text-align: right;
}
.user-profile-connect-div{
	margin-top: 5%;
	height: 3em;
	border: lightgrey 1px solid;
	border-radius: 3%;
}
	.user-profile-connect-div p{
	margin-top: 3%;
	font-size: 1.1em;
	font-weight: bold;
	color: #0066ff;
}
.user-profile-remove-connected-acct{
	margin-top: 2%;
	color: red;
}





