<div class="scrollable" ng-controller="invitefriendsController">
	<div class="scrollable-content show-event-div">
		<div class="container">		
			<div class="friends-list-div">
				<div class="row">
				<!--search for friend-->
					<div class="col-xs-10 col-xs-offset-1 new-event-item">
						<div class="input-group">
					      <input type="text" class="form-control" id="invite-friend-search" placeholder="Search for friend..." ng-model='friendsFilter'>
					    </div>
					</div> 
					<div class="col-xs-10 col-xs-offset-1">
						<p id="friends-header">Invite Friends</p>
					</div>
					<!-- invite all friends button -->
					<div class="col-xs-8 col-xs-offset-2">
						<button ng-if="event._attendees.length < users.length" type="button" id="invite-all-friends" class="btn btn-block" ng-click="allFriends()">Invite All Friends</button>
						<button ng-if="event._attendees.length >= users.length" type="button" id="invite-all-friends" class="btn btn-block" ng-click="uninviteAllFriends()">Uninvite All Friends</button>
					</div>
				<!-- ng-repeat this div for friends-->
					<div ng-repeat="user in users | filter:friendsFilter">
						<div>
							<div class="col-xs-10 col-xs-offset-1 invite-friend-div" ng-if="!event._attendees.includes(user._id)" ng-click="addToAttendees(user._id)">
								<p>
									<img class="profile-pic" ng-src="{{user.image}}">
									{{user.name}}
									<i class="fa fa-plus-circle fa-lg pull-right" aria-hidden="true"></i>
								</p>
							</div>
							<div class="col-xs-10 col-xs-offset-1 attendees-div" ng-if="event._attendees.includes(user._id)" ng-click="removeFromAttendees(user._id)">
								<p>
									<img class="profile-pic" ng-src="{{user.image}}">
									{{user.name}}
									<i class="fa fa-times-circle fa-lg pull-right" aria-hidden="true"></i>
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-10 col-xs-offset-1">
						<p id="invite-friends-notice">Unfortunately Facebook only allows us access to your FB friends who have signed into our app. If you want to invite them to this event, tell them to log in at whosdoingwhat.co!</p>	
					</div>
				</div>
			</div>
			<button id='invite-friends-done-btn' ng-click="updateAttendees()">Done</button>
		</div>				
	</div>
</div>