<div class="scrollable">
	<div class="scrollable-content">
		<h5>Choose a Photo</h5>
		<div class="event-pics-div row">
			<div class="choose-event-pic-div col-xs-10 col-xs-offset-1">
				<img class="img-rounded" src="/assets/images/fireomgemoji.jpg">
			</div>
			<div class="choose-event-pic-div col-xs-10 col-xs-offset-1">
				<img class="img-rounded" src="/assets/images/birthdayparty.jpg">
			</div>
			<div class="choose-event-pic-div col-xs-10 col-xs-offset-1">
				<img class="img-rounded" src="/assets/images/firetracksemoji.png">
			</div>
			<div class="choose-event-pic-div col-xs-10 col-xs-offset-1">
				<img class="img-rounded" src="/assets/images/pineapplesandsunshine.jpg">
			</div>
			<div class="choose-event-pic-div col-xs-10 col-xs-offset-1">
				<img class="img-rounded" src="/assets/images/pizzaemoji.jpg">
			</div>
			<div class="choose-event-pic-div col-xs-10 col-xs-offset-1">
				<img class="img-rounded" src="/assets/images/pool.jpeg">
			</div>
			<div class="choose-event-pic-div col-xs-10 col-xs-offset-1">
				<img class="img-rounded" src="/assets/images/popcornandicecream.png">
			</div>
			<div class="choose-event-pic-div col-xs-10 col-xs-offset-1">
				<img class="img-rounded" src="/assets/images/princessemoji.jpg">
			</div>
			<div class="choose-event-pic-div col-xs-10 col-xs-offset-1">
				<img class="img-rounded" src="/assets/images/tailgate.jpg">
			</div>
			<div class="choose-event-pic-div col-xs-10 col-xs-offset-1">
				<img class="img-rounded" src="/assets/images/tailgate_pic.jpg">
			</div>
			<div class="choose-event-pic-div col-xs-10 col-xs-offset-1">
				<img class="img-rounded" src="/assets/images/trippyemoji.jpg">
			</div>
			<div class="choose-event-pic-div col-xs-10 col-xs-offset-1">
				<img class="img-rounded" src="/assets/images/campingtrip.jpg">
			</div>
			<button id='choose-event-pic-done-btn' ng-click="updateUsers()">Done</button>
		</div>
	</div>
</div6