<div class="scrollable">
	<div class="scrollable-content show-event-div">
		<div class="row event-info">
			<div class="col-xs-10 col-xs-offset-1 show-event-details">
				<div class="row">
					<div class="col-xs-4 col-xs-offset-8">
						<p>April 18</p>
						<p>14 friends</p>
						<p>3 items</p>
					</div>
				</div>
			</div>
		</div>				
		<div class="show-event-items-div">
			<div class="row">
			<!-- ng-repeat this div for items-->
				<div class="col-xs-10 col-xs-offset-1 new-event-item">
					<input type="" name="">
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
						<img class="profile-pic pull-right" src="/assets/images/tailgate_pic.jpg">
						<img class="profile-pic pull-right" src="/assets/images/tailgate_pic.jpg">
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
						<img class="profile-pic pull-right" src="/assets/images/tailgate_pic.jpg">
						<img class="profile-pic pull-right" src="/assets/images/tailgate_pic.jpg">
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
						<img class="profile-pic pull-right" src="/assets/images/tailgate_pic.jpg">
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item-complete">
					<p>
						<i class="fa fa-check-circle-o" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
						<img class="profile-pic pull-right" src="/assets/images/tailgate_pic.jpg">
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item-complete">
					<p>
						<i class="fa fa-check-circle-o" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
						<img class="profile-pic pull-right" src="/assets/images/tailgate_pic.jpg">
					</p>
				</div>
			</div>
		</div>
	</div>
</div>