<div class="scrollable" ng-controller='eventscreenController'>
	<div class="scrollable-content show-event-div" >
		<div class="row event-info">
			<div class="col-xs-10 col-xs-offset-1 show-event-details" ng-style='style'>
				<div class="row">
					<div class="col-xs-4 col-xs-offset-8">
						<p>{{event.date | date:"MM/dd"}}</p>
						<p>{{event._attendees.length}} attendees</p>
						<p>{{event_items.length}} items</p>
					</div>
				</div>
			</div>
		</div>				
		<div class="show-event-items-div">
			<div class="row">
			<!-- create new item -->
				<div class="col-xs-10 col-xs-offset-1 new-event-item">
					<div class="input-group">
				      <input type="text" class="form-control" placeholder="Add new item/task..." ng-model="new_item.description">
				      <span class="input-group-btn">
				        <button id="add-item-btn" class="btn btn-secondary" type="button" ng-click='newItem()'>Add</button>
				      </span>
				    </div>
				</div>
			<!-- ng-repeat this div for items-->
				<div class="col-xs-10 col-xs-offset-1 show-event-item" ng-repeat="item in event_items" ng-if="!item.completed">
					<div class='item-info'>
						<p>
							<i class="fa fa-circle-thin" aria-hidden="true" ng-click='completeItem(item._id)'></i>
							{{item.description}}
						</p>
						<p>
							<img ng-repeat="user in item._users" class="profile-pic" src="{{user.image}}">
						</p>
					</div>
					<div class='add-remove-icon pull-right'>
						<a href='#/item/assign/{{item._id}}' ng-if="current_user._id == event._host._id"><i class="fa fa-user-plus fa-fw fa-lg assign-user pull-right" aria-hidden="true"></i></a>
						<i class="fa fa-user-plus fa-fw fa-lg assign-user pull-right add-me-btn" aria-hidden="true" ng-if="current_user._id != event._host._id && itemCheck(item._users)" ng-click="assignMe(item._id)"></i>
						<i class="fa fa-user-times fa-fw fa-lg assign-user pull-right remove-me-btn" aria-hidden="true" ng-if="current_user._id != event._host._id && !itemCheck(item._users)" ng-click="removeMe(item._id)"></i>
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item completed-item" ng-repeat="item in event_items" ng-if="item.completed">
					<p>
						<i class="fa fa-check-circle-o" aria-hidden="true" ng-click='uncompleteItem(item._id)'></i>
						{{item.description}}
					</p>
				</div>
			</div>
		</div>
		<a href="#/event/attendees/{{event._id}}" ng-if="current_user._id == event._host._id">Add Friends</a>
	</div>
</div>