<div class="scrollable">
	<div class="scrollable-content show-event-div">				
		<div class="friends-list-div">
			<div class="row">
			<!--search for friend-->
				<div class="col-xs-10 col-xs-offset-1 new-event-item">
					<div class="input-group">
				      <input type="text" class="form-control" id="invite-friend-search" placeholder="Search for friend...">
				      <span class="input-group-btn">
				        <button id="add-item-btn" class="btn btn-secondary" type="button">Go</button>
				      </span>
				    </div>
				</div>
				<div class="col-xs-10 col-xs-offset-1">
					<p id="friends-header">Invite Friends</p>
				</div>
				<!-- invite all friends button -->
				<div class="col-xs-8 col-xs-offset-2">
					<button type="button" id="invite-all-friends" class="btn btn-block">Invite All Friends</button>
				</div>
			<!-- ng-repeat this div for friends-->
				<div class="col-xs-10 col-xs-offset-1 invite-friend-div">
					<p>
						<img class="profile-pic" src="/assets/images/tailgate_pic.jpg">
						Jim McDavidson
						<i class="fa fa-plus-circle fa-lg pull-right invite-friend-div" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 invite-friend-div">
					<p>
						<img class="profile-pic" src="/assets/images/tailgate_pic.jpg">
						Jim McDavidson
						<i id="uninvite-friend" class="fa fa-times-circle fa-lg pull-right invite-friend-div" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 invite-friend-div">
					<p>
						<img class="profile-pic" src="/assets/images/tailgate_pic.jpg">
						Jim McDavidson
						<i id="uninvite-friend" class="fa fa-times-circle fa-lg pull-right invite-friend-div" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 invite-friend-div">
					<p>
						<img class="profile-pic" src="/assets/images/tailgate_pic.jpg">
						Jim McDavidson
						<i class="fa fa-plus-circle fa-lg pull-right invite-friend-div" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 invite-friend-div">
					<p>
						<img class="profile-pic" src="/assets/images/tailgate_pic.jpg">
						Jim McDavidson
						<i class="fa fa-plus-circle fa-lg pull-right invite-friend-div" aria-hidden="true"></i>
					</p>
				</div>
				<!-- close modal -->
				 
				<button id='invite-friends-done-btn'>Done</button>
			</div>
		</div>
	</div>
</div>