<div class="scrollable">
	<div class="scrollable-content show-event-div">				
		<div class="friends-list-div">
			<div class="row">
			<!--search for friend-->
				<div class="col-xs-10 col-xs-offset-1 new-event-item">
					<div class="input-group">
				      <input type="text" class="form-control" placeholder="Search for friend...">
				      <span class="input-group-btn">
				        <button id="add-item-btn" class="btn btn-secondary" type="button">Go</button>
				      </span>
				    </div>
				</div>
				<div class="col-xs-10 col-xs-offset-1">
					<p id="friends-header">Friends</p>
				</div>
			<!-- ng-repeat this div for friends-->
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<img class="profile-pic pull-left" src="/assets/images/tailgate_pic.jpg">
						Name
						<button></button>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
						<img class="profile-pic pull-right" src="/assets/images/tailgate_pic.jpg">
						<img class="profile-pic pull-right" src="/assets/images/tailgate_pic.jpg">
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
						<img class="profile-pic pull-right" src="/assets/images/tailgate_pic.jpg">
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item">
					<p>
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item-complete">
					<p>
						<i class="fa fa-check-circle-o" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
						<img class="profile-pic pull-right" src="/assets/images/tailgate_pic.jpg">
					</p>
				</div>
				<div class="col-xs-10 col-xs-offset-1 show-event-item-complete">
					<p>
						<i class="fa fa-check-circle-o" aria-hidden="true"></i>
						Item
						<i class="fa fa-user-plus fa-fw fa-lg pull-right assign-user" aria-hidden="true"></i>
						<img class="profile-pic pull-right" src="/assets/images/tailgate_pic.jpg">
					</p>
				</div>
			</div>
		</div>
	</div>
</div>