<div ng-controller="itemScreenController" class="scrollable">
	<div class="scrollable-content show-item-div">
		<h3>{{item.description}}</h3>
		<div class="show-item-assigned-users-div">
			<h4 class="assigned-to">Assigned to:</h4>
			<h4 class="assigned-user" ng-repeat="user in item._users">
				{{user.name}}
				<img class="profile-pic show-item-profile-pic pull-left" src="{{user.image}}">
				<i class="fa fa-user-times fa-fw fa-lg assign-user pull-right remove-me-btn" aria-hidden="true"></i>
			</h4>
		</div>
			<h4 id="assign-another-user" class="assigned-to">Assign Another Person?
<!-- 			<i class="fa fa-user-plus fa-fw fa-lg assign-user" aria-hidden="true"></i> -->
			</h4>
		<div id="show-item-comments-div">
			<p>Comments coming soon!</p>
		</div>
	</div>

</div>