<div id="welcome-div" class="scrollable mobile-only">
	<div id="welcome-overlay" class="scrollable-content">
		<h1>Who's Doing What</h1>
		<h4>The "Social" To-Do List</h4>
		<button class="btn btn-lg" ng-click="login()"><i class="fa fa-facebook-official" aria-hidden="true"></i>Log In with Facebook</button>
		<p>Who's Doing What allows you to utilize their existing Facebook friends, groups, and events to plan something awesome. Therefore, we requires users to log in with their FB accounts and allow us permission to access this data.</p>
		<p>Don't worry, we won't post anything!</p>
	</div>
</div>