<div class="scrollable">
	<div class="scrollable-content">
		<div class="row">
			<div class="new-event-photo col-xs-10 col-xs-offset-1">
				<i id="upload-photo" class="fa fa-picture-o fa-lg" aria-hidden="true"> +</i>
			</div>
			<div class="new-event-details col-xs-10 col-xs-offset-1">
				<form>
					<input type="text" class="form-control" placeholder="Event Name">
					<input type="date" class="form-control" name="date" placeholder="">
					<input type="time" class="form-control" name="date">
				</form>
			</div>
		</div>
	</div>
</div>