<div class="scrollable" ng-controller='neweventController'>
	<div class="scrollable-content">
		<div class="row">
			<div class="new-event-photo col-xs-10 col-xs-offset-1">
				<i id="upload-photo" class="fa fa-picture-o fa-lg" aria-hidden="true"> +</i>
			</div>
			<div class="new-event-details col-xs-10 col-xs-offset-1">
				<form class="form-group">
					<input type="text" class="form-control" ng-model="new_event.name" placeholder="Event Name">
					<input type="text" class="form-control" ng-model="new_event.location" placeholder="Location">
					<input type="date" class="form-control" ng-model="new_event.date" ng-min="2016-08-27">
					<input type="time" class="form-control" ng-model="new_event.time" placeholder="02:00 PM">
					<textarea class="form-control" placeholder="Description (optional)" rows="3" ng-model="new_event.description"></textarea>
			</div>
			<div class="new-event-button-div col-xs-6 col-xs-offset-3">
				<button type="button" class="btn btn-success btn-block btn-lg" ng-click='newEvent()'>Invite Friends</button>
			</div>	
		</div>
	</div>
</div>