<div ng-controller="notificationController" class="scrollable">
	<div class="scrollable-content">
		<div ui-state="activeTab" default="1">
		  <ul class="nav nav-tabs">
		    <li class="notif-tab" ui-class="{'active': activeTab == 1}">
		      <a ui-set="{'activeTab': 1}">All</a>
		    </li>
		    <li class="notif-tab" ui-class="{'active': activeTab == 2}">
		      <a ui-set="{'activeTab': 2}">Personal</a>
		    </li>
		  </ul>

		  <div ui-if="activeTab == 1">
		    <div class="row">
		    	<div class="col-xs-12 all-items">
		    		<div class="notif-item" ng-repeat="item in all_items">
		    			<p><img ng-repeat="user in item._users" class="notif-profile-pic pull-left" src="{{user.image}}">{{item._users[0].name}} was assigned to bring {{item.description}}.</p>
		    		</div>
		    	</div>
		    </div>
		  </div>
		  <div ui-if="activeTab == 2">
		  	<div class="row">
		    	<div class="col-xs-12 user-items">
		    		<div class="notif-item" ng-repeat="item in user_items">
		    			<p><img ng-repeat="user in item._users" class="notif-profile-pic pull-left" src="{{user.image}}">You were assigned to bring {{item.description}}.</p>
		    		</div>
		    	</div>
		    </div>
		  </div>
		</div>
	</div>
</div>