
<div class="scrollable" ng-controller='userController'>
	<div class="scrollable-content events-div">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<a href="#/newevent"><button type="button" class="btn-success btn-lg btn-block"><h4>Create New Event</h4></button></a>
			</div>
		</div>
		<h5>Upcoming Events</h5>
		<div class="row event">
			<div class="col-xs-4">
				<img class="img-rounded" src="/assets/images/tailgate_pic.jpg">
			</div>
			<div class="col-xs-8 title">
				<h4>Camping Trip</h4>
				<p>April 18 | 14 friends | 3 items</p>
			</div>
		</div>
		<div class="row event">
			<div class="col-xs-4">
				<img class="img-rounded" src="/assets/images/tailgate_pic.jpg">
			</div>
			<div class="col-xs-8 title">
				<h4>Bachorlette Party!!!!</h4>
				<p>April 18 | 14 friends | 3 items</p>
			</div>
		</div>
		<div class="row event">
			<div class="col-xs-4">
				<img class="img-rounded" src="/assets/images/tailgate_pic.jpg">
			</div>
			<div class="col-xs-8 title">
				<h4>Fantasy Football Draft</h4>
				<p>April 18 | 14 friends | 3 items</p>
			</div>
		</div>
		<h5>Past Events</h5>
		<div class="row event">
			<div class="col-xs-4">
				<img class="img-rounded" src="/assets/images/tailgate_pic.jpg">
			</div>
			<div class="col-xs-8 title">
				<h4>Super Duper BDay Extravaganza</h4>
				<p>April 18 | 14 friends | 3 items</p>
			</div>
		</div>
		<div class="row event">
			<div class="col-xs-4">
				<img class="img-rounded" src="/assets/images/tailgate_pic.jpg">
			</div>
			<div class="col-xs-8 title">
				<h4>Camping Trip</h4>
				<p>April 18 | 14 friends | 3 items</p>
			</div>
		</div>
	</div>
</div>



