<div class="scrollable">
	<div class="scrollable-content events-div">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<a href="#/newevent"><button type="button" class="create-event btn btn-success btn-block"><h4>Create New Event</h4></button></a>
			</div>
		</div>
		<h5>Upcoming Events</h5>
		<div class="row event">
			<div class="col-xs-4">
				<img class="img-rounded" src="/assets/images/tailgate_pic.jpg">
			</div>
			<div class="col-xs-5 title">
				<h4>Camping Trip</h4>
			</div>
			<div class="col-xs-3 details">
				<p>April 18</p>
				<p>14 friends</p>
				<p>3 items</p>
			</div>
		</div>
		<div class="row event">
			<div class="col-xs-4">
				<img src="/assets/images/tailgate_pic.jpg">
			</div>
			<div class="col-xs-5 title">
				<h4>Camping Trip</h4>
			</div>
			<div class="col-xs-3 details">
				<p>April 18</p>
				<p>14 friends</p>
				<p>3 items</p>
			</div>
		</div>
		<div class="row event">
			<div class="col-xs-4">
				<img src="/assets/images/tailgate_pic.jpg">
			</div>
			<div class="col-xs-5 title">
				<h4>Camping Trip</h4>
			</div>
			<div class="col-xs-3 details">
				<p>April 18</p>
				<p>14 friends</p>
				<p>3 items</p>
			</div>
		</div>
		<h5>Past Events</h5>
		<div class="row event">
			<div class="col-xs-4">
				<img src="/assets/images/tailgate_pic.jpg">
			</div>
			<div class="col-xs-5 title">
				<h4>Camping Trip</h4>
			</div>
			<div class="col-xs-3 details">
				<p>April 18</p>
				<p>14 friends</p>
				<p>3 items</p>
			</div>
		</div>
		<div class="row event">
			<div class="col-xs-4">
				<img src="/assets/images/tailgate_pic.jpg">
			</div>
			<div class="col-xs-5 title">
				<h4>Camping Trip</h4>
			</div>
			<div class="col-xs-3 details">
				<p>April 18</p>
				<p>14 friends</p>
				<p>3 items</p>
			</div>
		</div>
	</div>
</div>



