<div class="scrollable" ng-controller='userprofileController'>
	<div class="scrollable-content">
		<div id="user-profile-pic" class="col-xs-12">
			<img class="img-circle" ng-src="{{current_user.image}}">
		</div>
		<div id="user-profile-form-div" class="col-xs-12">		
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-2 control-label">Name</label>
					<div class="col-xs-10">
						<input type="text" class="form-control" ng-model='current_user.name' ng-change="updateUser('name')">
					</div>
					<label class="col-xs-2 control-label">Email</label>
					<div class="col-xs-10">	
						<input type="text" class="form-control" ng-model="current_user.email" ng-change="updateUser('email')">
					</div>
					
					<label class="col-xs-2 control-label">Phone</label>
					<div class="col-xs-10">	
						<input type="text" class="form-control" ng-model="current_user.phone" ng-change="updateUser('phone')">
					</div>
				</div>
			</form>
			<h5>Connected Accounts</h5>
			<div class="user-profile-connect-div col-xs-14">
				<p><i class=" fa fa-facebook-official" aria-hidden="true"> Facebook</i></p>
			</div>
		</div>
	</div>
</div>