<div class="scrollable">
	<div class="scrollable-content">
		<div id="user-profile-pic" class="col-xs-12">
			<img class="img-circle" src="/assets/images/poolparty.jpg">
		</div>
		<div id="user-profile-form-div" class="col-xs-12">		
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-2 control-label">Name</label>
					<div class="col-xs-10">
						<input type="text" class="form-control" name="name" value="Dom Garaventa">
					</div>
					<label class="col-xs-2 control-label">Email</label>
					<div class="col-xs-10">	
						<input type="text" class="form-control" name="email" value="dom@ballislife.com">
					</div>
					
					<label class="col-xs-2 control-label">Phone</label>
					<div class="col-xs-10">	
						<input type="text" class="form-control" name="phone" value="3XS-BLK-BELT">
					</div>
				</div>
			</form>
			<h5>Connected Accounts</h5>
			<div class="user-profile-connect-div col-xs-12">
				<p><i class=" fa fa-facebook-official" aria-hidden="true"> Facebook</i>
				<i class="fa fa-times-circle fa-lg pull-right user-profile-remove-connected-acct" aria-hidden="true"></i></p>
			</div>
		</div>
	</div>
</div>